<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <label for="color">Kolor: </label>
    <input id="color" [(ngModel)]="styles.color" (input)="updateStyles()">
  </div>
  <div>
    <label for="backgroundColor">Kolor tła: </label>
    <input id="backgroundColor" [(ngModel)]="styles.backgroundColor" (input)="updateStyles()">
  </div>
  <div>
    <label for="border">Obramowanie: </label>
    <input id="border" [(ngModel)]="styles.border" (input)="updateStyles()">
  </div>
  <div>
    <label for="boxShadow">Cień: </label>
    <input id="boxShadow" [(ngModel)]="styles.boxShadow" (input)="updateStyles()">
  </div>


</body>
</html>
